.yes_no_btn_delete_costs {
  display: flex;
  flex-flow: row;
  width: 125px;
  height: 47px;
  justify-content: center;
  text-transform: uppercase;
  border-radius: 15px;
  font-weight: 700;
  background-color: transparent;
  border: 1px solid grey;
}

.yes_no_btn_delete_costs:hover {
  background-color: tomato;
  color: white;
  border: none;
  cursor: pointer;
}

.modalDeleteCosts_btn {
  display: flex;
  justify-content: space-between;
  width: 260px;
}

.modalDeleteCosts_p {
  font-weight: 700;
  padding-bottom: 20px;
}

.modalWrapper {
  width: 310px;
  height: 195px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 25px;
  text-align: center;
}

.modalContent {
  display: flex;
  flex-flow: column;
}

@media (min-width: 768px) {
  .modalWrapper {
    width: 380px;
  }
}
