.tav_div {
  display: none;
}

.tab_input_selector {
  width: 100px;
  outline: none;
}

.react_select {
  width: 300px;
  padding: 0 20px;
  outline: none;
}

.tab_input_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.1);
}

.tab_select_input_section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 35px;
}

.input_button_section {
  display: flex;
  flex-flow: row;
  margin-bottom: 30px;
}

.tab_input_price {
  background-color: #f4f6fb;
  border: 3px solid #ffffff;
  border-radius: 40px 0px 0px 40px;
  padding-bottom: 10px;
  padding-top: 10px;
  width: 109px;
  padding-top: 20px;
  padding-bottom: 10px;
  height: 45px;
  position: relative;
  padding-left: 58px;
  outline: none;
}

.test {
  position: relative;
}

.tab_input_price::placeholder {
  color: #313132;
  font-size: 15px;
  padding-right: 0px;
  font-weight: 600;
  outline: none;
  width: 60px;
}

input:focus ~ label {
  visibility: hidden;
  font-size: 15px;
}

label:focus {
  visibility: hidden;
  font-size: 15px;
}

.tab_input_price_button {
  background-color: #f4f6fb;
  border: 3px solid #ffffff;
  border-radius: 0px 40px 40px 0px;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-right: 7px;
  width: 66px;
  height: 45px;
  outline: none;
}

.forms {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  margin-bottom: 10px;
}

.button_submit {
  padding-right: 35px;
  padding-left: 35px;
  padding-top: 15px;
  padding-bottom: 14px;
  background-color: #ff7e31;
  color: #f4f6fb;
  border-radius: 17px;
  border: #ff7e31;
  font-size: 11px;
  -webkit-box-shadow: 9px 15px 50px -18px #000000;
  box-shadow: 9px 15px 50px -18px #000000;
  outline: none;
}

.button_clean {
  padding-right: 21px;
  padding-left: 25px;
  padding-top: 15px;
  padding-bottom: 14px;
  background-color: #f4f6fb;
  color: #52555f;
  border-radius: 17px;
  border: none;
  font-size: 11px;
  -webkit-box-shadow: 9px 15px 50px -18px #000000;
  box-shadow: 9px 15px 50px -18px #000000;
  outline: none;
}

@media (min-width: 768px) {
  .tab_input_container {
    width: 100%;
    border-radius: 20px 20px 0 0;
    background-color: #ffffff;
    padding: 0px;
  }

  .tav_div {
    font-weight: 5px;
    position: relative;
    display: block;
    margin-right: 20px;
    margin-top: 17px;
  }

  .tab_select_input_section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    align-items: unset;
    background-color: #ffffff;
    margin-bottom: 9px;
    margin-top: 10px;
  }

  .tab_input_price {
    border-right: 0;
    background-color: #ffffff;
    border: 3px solid #f4f6fb;
    border-radius: 0px 0px 0px 0px;
    border-left: 0;
    padding: 0;
    width: 65px;
    text-align: -webkit-right;
  }

  .tab_input_price::placeholder {
    padding: 0;
  }

  .tab_input_price_button {
    border-left: 0;
    background-color: #ffffff;
    border: 3px solid #f4f6fb;
  }

  .forms {
    justify-content: space-evenly;
    width: 60%;
  }

  .button_submit {
    box-shadow: none;
  }

  .button_clean {
    border: 3px solid #f4f6fb;
    background-color: #ffffff;
    box-shadow: none;
  }
}

@media (min-width: 1280px) {
  .tab_input_container {
    width: 100%;
    flex-direction: row;
    align-items: baseline;
    border-radius: 20px 20px 0 0;
    padding: 0px;
    height: 70px;
  }

  .forms {
    /* width: 43%; */
    /* margin-top: 20px; */
    justify-content: center;
  }

  .button_clean {
    margin-left: 20px;
    font-size: 8px;
  }

  .button_submit {
    font-size: 8px;
  }
}
