.table {
  display: table;
  width: 232px;
  border: 2px solid white;
  font-size: 11px;
  border-radius: 40px 40px 40px 40px;
  background-color: #f4f6fb;
}

.tabelHead {
  border-radius: 20px 20px 0 0;
  background-color: var(--gray);
  padding: 0px;
  font-weight: 700;
  text-align: center;
}

.tableHeadStr {
  text-align: center;
  padding-top: 10px;
  height: 39px;
  line-height: 39px;
  text-transform: uppercase;
}

.tableStr {
  background-color: var(--gray);
  border: 1px solid white;
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-family: 'roboto';
  font-size: 12px;
  font-weight: 700;
}

.tableStr:last-child {
  border-radius: 0 0 20px 0;
}

.tableActiveStr {
  background-color: #ff7e31;
  color: white;
  border: 1px solid white;
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-family: 'roboto';
  font-size: 12px;
  font-weight: 700;
}

.tableActiveStr:last-child {
  border-radius: 0 0 20px 0;
}

.tableMonth {
  padding: 12px 12px;
  width: 30%;
  text-align: left;
  text-transform: uppercase;
  white-space: nowrap;
}

.tableAmount {
  padding: 12px 12px;
  width: 70%;
  text-align: right;
}

@media (min-width: 768px) {
  .table {
    display: table;
    width: 200px;
    border: 2px solid white;
    font-size: 11px;
    border-radius: 20px;
    background-color: #f4f6fb;
    margin-top: 30px;
  }
  .tableAmount {
    padding: 0 20px 0 0;
    margin: 0;
    align-self: center;
  }
  .tableStr {
    height: 32px;
  }
}

@media (min-width: 1280px) {
  .table {
    display: table;
    width: 232px;
    /* height: 270px; */
    border: 2px solid white;
    font-size: 11px;
    border-radius: 40px 40px 40px 40px;
    background-color: #f4f6fb;
  }

  .tabelHead {
    border-radius: 20px 20px 0 0;
    background-color: var(--gray);
    padding: 0px;
    font-weight: 700;
    text-align: center;
  }

  .tableHeadStr {
    text-align: center;
    padding-top: 10px;
    height: 39px;
    line-height: 39px;
    text-transform: uppercase;
  }

  .tableStr {
    background-color: var(--gray);
    border: 1px solid white;
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-family: 'roboto';
    font-size: 12px;
    font-weight: 700;
  }

  .tableActiveStr {
    background-color: #ff7e31;
    color: white;
    border: 1px solid white;
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-family: 'roboto';
    font-size: 12px;
    font-weight: 700;
  }

  .tableStr:last-child {
    border-radius: 0 0 20px 0;
  }

  .tableMonth {
    padding: 12px 24px;
    width: 30%;
    text-align: left;
    text-transform: uppercase;
  }

  .tableAmount {
    padding: 12px 24px;
    width: 70%;
    text-align: right;
  }
}
